@media screen {
    body {
        width:794px;
        margin: 0 auto;
    }

    #poc {
        min-height: 1200px;
    }
}

@media print {

    @page {
        size: A4;
        margin: 20mm;
    }
}

body {
    font-family: 'Lora', serif;
    line-height: 1.3;
    text-align: justify;
}

body img {
    max-width: 100%;
}

section {
  page-break-inside: avoid;
}

h1 {
    page-break-before: always;
}

.empty-page {
    page-break-before: always;
    page-break-after: always;
}

h1 {
    margin-top: 55px;
    font-size: 24pt;
    page-break-before: always;
}

h2 {
    font-size: 14pt;
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    margin-top: 25px;
    margin-bottom: 0;
}

table {
    margin-top: 45px;
}

p {
    margin-top: 0;
    margin-bottom: 7px;
}

blockquote, ul {
    margin: 0;
}

#toc a {
    display: block;
    color: #000;
    text-decoration: none;
    margin: 3px 0;
}

#toc span {
    float: right;
    background-color: white;
    padding-left: 5px;
}

#toc .H1 {
    font-size: 120%;
    font-weight: bold;
}

#toc .H2 {
    margin-left: 20px;
}

#toc .H3 {
    margin-left: 35px;
    font-size: 90%;
}

#toc .H1 ,
#toc .H2 ,
#toc .H3  {
    overflow: hidden;
    white-space: nowrap;
}

#toc .H1:after ,
#toc .H2:after ,
#toc .H3:after  {
    font-weight: 400;
    content: "....................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
}

a {
    color: rgb(110, 146, 215);
}

.sources a {
    display: block;
}

.sources li {
    padding-bottom: 5px;
}

code {
    color: rgb(230, 63, 63);
}

.p-right, .p-left {
    max-width: 67%;
}

.img-ff-right, .img-ff-left {
    width: 49%;
}

.img-right, .img-left {
    width: 30%;
}

.p-right-small, .p-left-small {
    max-width: 87%;
}

.img-right-small, .img-left-small {
    width: 10%;
}

.img-right, .p-right, .img-right-small, .p-right-small, .img-ff-right {
    float: right;
}

.img-left, .p-left, .img-left-small, .p-left-small, .img-ff-left {
    float: left;
}

.clear {
    display: block;
    clear: both;
    height: 10px;
}
.push-50 {
    margin-bottom: 50px;
}
